@{
    ViewData["Title"] = "Movie List";
}

@*The default view file has the same name as the controller method (if none is specified). *@

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>
